/* Global Reset */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Homepage Container */
.homepage {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 73px);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;

  padding: 20px 30px;
  color: #ffff;
  border-bottom: 1px solid #c2a17d;
}

.navbar .logo {
  font-size: 28px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #fff;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 40px;
  background: url("https://via.placeholder.com/1500x800?text=ScamShield+Background")
    center/cover no-repeat;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  color: #fff;
  margin-left: 30px;
}

.hero-content h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #2f2695;
}

.dynamic-text {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  display: block;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.cta-button {
  padding: 10px 20px;
  background-color: #031725;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.cta-button:hover {
  background-color: rgb(3, 5, 7);
}

/* Hero Image */
.hero-image {
  position: relative;
  z-index: 2;
}

.hero-image img {
  max-width: 100%;
  border-radius: 10px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
  width: 90%;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero-image {
    margin-top: 20px;
  }
}

.userProf {
  padding: 7px 8px;
  background-color: #fff;
  border-radius: 8%;
  border: 2px solid #c2a17d;
  color: #031725;
}
